<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="root">
    <!-- <div v-for="(v,name,index) of obj">
      val:{{v}}
      name:{{name}}
      index:{{index}}
    </div> -->
    <div v-for="(val,index) in arr">
      val:{{val}}
      index:{{index}}
    </div>
    <!-- <div v-for="(val,index) of arr">
      val:{{val}}
      index:{{index}}
    </div> -->
  </div>
  <script>
    const app = Vue.createApp({
      data() {
        return { count: 1, count1: 1 }
      },
      template: `<counter v-model:app="count" v-model:web="count1" />`
    })

    app.component('counter', {

      props: ['app', 'web'],
      methods: {
        handleClick() {
          this.$emit('update:app', this.app + 1)
        },
        handleClick1() {
          this.$emit('update:web', this.web + 1)
        },
      },
      template: `<div @click="handleClick">{{app}}</div><div @click="handleClick1">{{web}}</div>`
    })
    const vm = app.mount("#root");
    console.log('vm: ', vm);
  </script>
</body>

</html>